.toolbar-color{
.md-toolbar;
    padding: 0px 0px 0px 0px;
}
.panels_height{
    height: 450px;
    border: 2px solid #5793F9;
    padding: 0px 0px 0px 0px;
    margin-left: 1px;
}
md-card h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.card .card-content {
    border-radius: 0 0 2px 2px;
    padding: 12px;
}
.row{
    margin-bottom: 0px;
}
h5{
    line-height: 0.5rem;
}
.row .col{
    padding: 0rem 0.25rem;
}
.card{
    margin: 0.5rem 0 0rem;
}
/*
.border-class{
    margin: 0px 0px 0px 0px;
    border: 2px solid #5793F9;
    background-color: #F0F0F0;
}
.border-class-total{
    margin: 0px 0px 0px 0px;
}
.border-class-padding{
    margin: 2px 2px 2px 2px;
    padding: 1px 5px 0px 5px;
    border: 2px solid #5793F9;
    /*background-color: lightgray;*/
/*}*/
.encroachment{
    background-color: #000000;
}
.md-button {
    padding: 0 0 0 0;
    margin: 1px 2px 1px 2px;
    min-width: 0px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    line-height: 20px;
}
br{
    display: block;
    margin: 0px 0;
}
/*
Button Classes for Possessions
*/
.btnEncroachmentP {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #E74C3C;
    color: #fafafa;
}
.btnEncroachmentP:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #FF0000;
    color: #fafafa;
}
.btnEncroachmentP[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnEncroachmentP p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnTotalP {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #3498DB;
    color: #fafafa;
}
.btnTotalP:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #3498DB;
    color: #fafafa;
}
.btnTotalP[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnTotalP p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnUnitConvert {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #3498DB;
    color: #fafafa;
}
.btnUnitConvert:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #3498DB;
    color: #fafafa;
}
.btnUnitConvert[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnUnitConvert p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnRailwayP {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #808080;
    color: #fafafa;
}
.btnRailwayP:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #C0C0C0;
    color: #fafafa;
}
.btnRailwayP[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnRailwayP p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnLeasedP {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #008800;
    color: #fafafa;
}
.btnLeasedP:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #00C000;
    color: #fafafa;
}
.btnLeasedP[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnLeasedP p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnOtherGovtDepttP {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #000088;
    color: #fafafa;
}
.btnOtherGovtDepttP:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #0000C8;
    color: #fafafa;
}
.btnOtherGovtDepttP[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnOtherGovtDepttP p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnKatchiAbadiP {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #CC9900;
    color: #fafafa;
}
.btnKatchiAbadiP:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #CC9966;
    color: #fafafa;
}
.btnKatchiAbadiP[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnKatchiAbadiP p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}
/*
Button Classes for Landuse
*/

.btnBuiltUpL {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #996600;
    color: #fafafa;
}
.btnBuiltUpL:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #CC9966;
    color: #fafafa;
}
.btnBuiltUpL[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnBuiltUpL p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnAgricultureL {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #336600;
    color: #fafafa;
}
.btnAgricultureL:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #33CC00;
    color: #fafafa;
}
.btnAgricultureL[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnAgricultureL p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}


.btnOthersL {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #0066CC;
    color: #fafafa;
}
.btnOthersL:not([disabled]):hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #336699;
    color: #fafafa;
}
.btnOthersL[disabled] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btnOthersL p{
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}

md-toolbar.md-railwayColor-theme:not(.md-menu-toolbar) {
    background-color: #3498DB;
    color: #fafafa;
    margin: 2px;
}

.md-menu{
    padding: 0;
}

md-card{
    margin: 1px;
    color: white;
    text-align: center;
}
.cardRailway{
    background-color: #808080;
    color: #fafafa;
}
.cardLeased{
    background-color: #008800;
    color: #fafafa;
}
.cardEncroachment{
    background-color: #E74C3C;
    color: #fafafa;
}
.cardOtherGovtDepartment{
    background-color: #000088;
    color: #fafafa;
}
.cardKatchiAbadi{
    background-color: #CC9900;
    color: #fafafa;
}
.cardOpenLand{
    background-color: #808080;
    color: #fafafa;
}
.cardBuiltup{
    background-color: #CC9966;
    color: #fafafa;
}
.cardAgriculture{
    background-color: #336600;
    color: #fafafa;
}
.cardOthers{
    background-color: #336699;
    color: #fafafa;
}

.tdRailway{
    color: #808080;
}
.tdLeased{
    color: #008800
}
.tdEncroachment{
    color: #E74C3C;
}
.tdOtherGovtDepartment{
    color: #000088;
}
.tdKatchiAbadi{
    color: #CC9900;
}
.tdOpenLand{
    color: #808080;
}
.tdBuiltup{
    color: #CC9966;
}
.tdAgriculture{
    color: #336600;
}
.tdOthers{
    color: #336699;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px;
    font-size: 12px;
}

.table >tbody > tr > td > a{
    /*color: green;*/
}
.table >tbody > tr > td > a:hover{
    text-decoration: none;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

md-input-container {
    margin: 0px 0px 2px 0px;
}

/*---------------------------------------*/
md-select {
    /*background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");*/
    background-color:#3498DB;
    background-repeat:no-repeat;
    background-position: right 10px top 15px;
    background-size: 16px 16px;
    color:white;
    /*padding:8px;*/
    width:auto;
    font-family:arial,tahoma;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border:0;
    outline:0;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}

md-select {
    background-color:#3498DB;
}

md-select:hover {
    background-color:#2980B9;
}

#green {
    background-color:#2ECC71;
}

#green:hover {
    background-color:#27AE60;
}

#red {
    background-color:#E74C3C;
}

#red:hover {
    background-color:#C0392B;
}

select:focus, select:active {
    border:0;
    outline:0;
}

p {
    margin: 2px 6px;
    color: #fafafa;
}

.scrollbar
{
    overflow: auto;
}

#legendDiv::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
#legendDiv::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#legendDiv::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}







#tbldataview::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
#tbldataview::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#tbldataview::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}
